name: azure-functions-python-app-containerized-deployment

env:
  AZURE_FUNCTIONAPP_NAME: "DocumentExtraction"
  # SLOT_NAME: "stage"
  PYTHON_VERSION: "3.11"
  IMAGE_NAME: docextraction
  IMAGE_TAG: v1
  AZURE_REGISTRY_LOGIN_SERVER: ${{ secrets.BASTION_GPT_DOC_EXTRACTION_CONTENT_ACR_ENDPOINT }}
  AZURE_REGISTRY_SERVER_NAME: ${{ secrets.BASTION_GPT_DOC_EXTRACTION_CONTENT_ACR_USERNAME }}
  AZURE_REGISTRY_USERNAME: ${{ secrets.BASTION_GPT_DOC_EXTRACTION_CONTENT_ACR_USERNAME }}

# Controls when the workflow will run
on:
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          docker system prune -af
          echo "Disk cleanup complete."
      # - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
      #   uses: actions/setup-python@v1
      #   with:
      #     python-version: ${{ env.PYTHON_VERSION }}

      # - name: Cleanup disk space before installing dependencies
      #   run: |
      #     docker system prune -af
      #     rm -rf ~/.cache/pip
          
      # - name: install python dependencies
      #   shell: bash
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install -r requirements.txt
      #     pip install pytest-cov

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_RBAC_CREDENTIALS }}

      - name: Azure ACR Login
        run: |
          az acr login --name ${{ env.AZURE_REGISTRY_SERVER_NAME }}

      - name: build docker & push image to Azure ACR using AZ CLI
        run: |
          docker build -t ${{ env.AZURE_REGISTRY_LOGIN_SERVER }}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}} .
          docker push ${{ env.AZURE_REGISTRY_LOGIN_SERVER }}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}

      # Publish docker image to Azure Function App.
      - name: "Update Azure Function App Container with Image"
        uses: Azure/functions-container-action@v1
        id: function-app-container
        with:
          app-name: ${{env.AZURE_FUNCTIONAPP_NAME}}
          image: ${{ env.AZURE_REGISTRY_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          # slot-name: ${{ env.SLOT_NAME }}


      # Remove docker image locally after pushing to ACR
      - name: Remove docker image locally after pushing to ACR
        run: |
          docker rmi ${{ env.AZURE_REGISTRY_LOGIN_SERVER }}/${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          docker container prune -f
          docker images --filter "dangling=true" -q | xargs -r docker rmi

      # Run az logout.
      - name: Azure logout
        run: |
          az logout